menu "Raven LRS"

config RAVEN_TX_SUPPORT
    bool "Enable TX support"
    default "y"

config RAVEN_RX_SUPPORT
    bool "Enable RX support"
    default "y"

config RAVEN_FAKE_TX_INPUT
    depends on RAVEN_TX_SUPPORT
    bool "Enable fake TX input support"
    default "n"

config RAVEN_DIO5_CLK_OUTPUT
    bool "Enable LoRa CLK output on DIO 5"
    default "n"

endmenu
